.editor{
    border: solid 1px #ccc;
}

[contenteditable="true"] {
    caret-color: red;
}

  .toolbar{
    border: solid 1px #ddd;
    background: #f4f4f4;
    padding: 5px;
    border-radius: 3px;
    color: black;
}

.toolbar span{
    cursor: pointer;
}

.toolbar span:hover{
    text-decoration: underline;
}